.sign {
    flex-direction: column;
    width: 100%;
}

.inscription__form, .connexion__form {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.inscription-section {
    display: grid;
    width: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 64px;
    justify-items: stretch;
    padding-bottom: 3rem;
    height: auto;
    overflow: hidden;
}

.inscription-section-1 {
    display: flex;
    position: relative;
    flex-direction: column;
}

.inscription-section-2 {
    display: flex;
    flex-direction: column;
}

.inscription-section-4 {
    align-self: flex-end;
}

.inscription-confirmation__message {
    text-align: center;
}