.DayPickerInput-Overlay {
    background-color: var(--light-blue);
    box-shadow: var(--shadow);
}

.DayPicker-NavButton--next, .DayPicker-NavButton--prev {
    background-image: url('../../../../assets/img/arrow.svg');
}

.DayPicker-NavButton--prev {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}


.DayPicker-Caption, .DayPicker-Weekday, .DayPicker-Day {
    color: var(--white);
}

.DayPicker:not(.DayPicker--interactionDisabled) .DayPicker-Day:not(.DayPicker-Day--disabled):not(.DayPicker-Day--selected):not(.DayPicker-Day--outside):hover {
    background-color: var(--blue);
}

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside):hover {
    background-color: var(--light-blue);
}